
}
.header {
	font-size: 20px;
	line-height: 1.5;
	margin: 60px auto;

}
.header span {
	display: block;

}
.form-header, .section-header {
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 20px;
}
.form {
	border: 5px	solid #2727d9;
	padding: 30px 20px;

}
.form-btn {
	background-color: #2727d9;
	margin: 20px auto;
}
.form input {
	margin-bottom: 12px;
}
.section {

	padding: 30px;
}
.feature {
	margin: 60px;
}
.feature img {
	margin-bottom: 20px;
}
.form-btn1 {
	background-color: #2727d9;
	margin: 30px;

}
.video {
	margin-bottom: 20px;
}